html, body {
  margin:0 auto;
}

body {
  background-color: #fff;
  color:#666666;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:.8em;
}

.hide {
  display:none;
}

.show {
  display:block;
}

.slide {
  max-width:50%;
}

button {
  border:none;
  background-color:#444444;
  color:white;
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  min-width:70px;
}

button:hover {
  cursor:pointer;
  background-color:#666666;
}

button:focus {
  outline:none;
  background-color:#666666;
}

a, a:visited {
  color:#666666;
}

a:hover {
  color:#444444;
}

h1 {
  color:#444444;
  font-weight:bold;
  margin-top:0;
}

#wrapper {
  max-width:920px;
  margin:0 auto;
  padding:20px;
}

.container {
  margin:0;
  padding:.5%;
}

.intro {
  margin-bottom:2em;
}

.divider {
  border-top:1px solid #aaaaaa;
  width:30%;
  margin:2em 0 1em 0;
}
